@{
    ViewData["Title"] = "Access Denied";
}

<div class="ui red inverted vertical masthead center aligned segment" style="border-radius: 5px;">
    <div class="ui text container">
        <h1 class="ui inverted header">
            Access Denied
        </h1>
    </div>
</div>